# Emacs
*~
code/.ipynb_checkpoints
.DS_Store
dudas/
correcciones-TFG/
ISSUES-RELEVANTES
Memoria/.DS_Store
Memoria/_minted-tfg


#latex
*#*

# LaTeX
*#*
*.log
*.out
*.aux
*.idx
*.pdf
*.toc
*.lof
*.bbl
*.brf
*.fdb_*
*.ilg
*.ind
*.gz
*.blg
*.fls
*.lot

Memoria/tfg.loa
Memoria/.DS_Store
.vscode/settings.json
Memoria/_minted-tfg
Memoria/tfg.loa

# Capítulos que sirven a modo de notas 
Memoria/capitulos/introduccion_redes_neuronales/bibliografia.tex
Memoria/capitulos/introduccion_redes_neuronales/perceptron.tex
BORRAR
