# Emacs
*~

#VS code 
.vscode/

# Python 
code/.ipynb_checkpoints

#macOS
.DS_Store
Memoria/.DS_Store

#Personales
dudas/
correcciones-TFG/
ISSUES-RELEVANTES
Artículos/

# LaTeX
tfg*.pdf
*#*
*.log
*.out
*.aux
*.idx
*.toc
*.lof
*.bbl
*.brf
*.fdb_*
*.ilg
*.ind
*.gz
*.blg
*.fls
*.lot
*.loa
*.bcf
Memoria/Defensa/*.xml
Memoria/_minted-tfg
*.pdf

# Capítulos que sirven a modo de notas 
Notas/
Experimentos/comparativas-funciones-activacion/pruebas-linter.jl
Experimentos/comparativas-funciones-activacion/boxplot.jl
Experimentos/comparativas-funciones-activacion/img/boxplot-whiskers-activation-function.png
Memoria/capitulos/.ipynb_checkpoints/Ejemplo-uso-biblioteca-checkpoint.ipynb
