# Emacs
*~
# Python 
code/.ipynb_checkpoints
#macOS
.DS_Store
doc/.DS_Store

#Ficheros personales
dudas/
correcciones-TFG/
ISSUES-RELEVANTES

# LaTeX
*#*
*.log
*.out
*.aux
*.idx
*.pdf
*.toc
*.lof
*.bbl
*.brf
*.fdb_*
*.ilg
*.ind
*.gz
*.blg
*.fls
*.lot
doc/_minted-tfg
doc/tfg.loa
